<Input data-query-text @value={{@queryParams.queryText}} />

<div>
  <div data-query-bool>{{@queryParams.queryBool}}</div>
  <button {{on "click" this.toggleBool}} type="button" data-query-bool-toggle>Toggle</button>
</div>

<div>
  <div data-query-number-plus-one>{{this.numPlusOne}}</div>
</div>

<div>
  <ul data-list-query-arr>
    {{#each @queryParams.queryArr as |elem|}}
      <li>{{elem}}</li>
    {{/each}}
  </ul>

  <button {{on "click" this.pushToArr}} type="button" data-push-to-arr>Push to arr</button>
</div>
